/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html { color: white; background: black; }
body { color: #bbb; line-height: 1.25; font-size: 14px; font-family: "proxima-nova-1", sans-serif; font-weight: 300; }
a { color: #f93; text-decoration: none; }
	a:hover { color: #F60; }
h2, h3 { font-size: 24px; font-weight: 300; margin: 0 0 20px 0; letter-spacing: -1px }
p { margin: 1em 0 0 0; }
strong { font-weigth: 600; }
section { float: left; border-top: 6px solid  rgb(60,60,60); border-color: rgba(204, 204, 204, 0.25); padding: 30px 0;  }

header		{ position: relative; }
	header h1 { background: url(images/ani.png) 842px 122px no-repeat; }
	header h1 a { overflow: hidden; text-indent: -1000px; display: block; width: 320px; height: 310px; background: url(images/logo.png) 2px 2px no-repeat; }
	header h1 small span { display: none }
	header h1 small { display: block; position: absolute; top: 147px; left: 380px; width: 236px; height: 34px; background: url(images/d_e.png) 0 0 no-repeat; text-indent: -1000px; overflow: hidden; }
#bg { position:fixed; top:-50%; left:-50%; width:200%; height:200%; }
	#bg img {
     position:absolute; margin:auto;
     top:0; left:0; right:0; bottom:0;
     min-width:50%; min-height:50% }
#wrap 		{ overflow: hidden; width: 958px; margin: 0 auto; position: relative; padding: 0 0 100px 0; }
#about    { width: 320px; float: left; margin: 0 58px 0 0; border-top: 10px solid rgb(60,60,60); border-color: rgba(204, 204, 204, 0.25); padding: 17px 0 0 0;	}
	#about h2 { margin: 0; padding:0; font-size: 60px; font-weight: 300; letter-spacing: -3px }
	#about .addresses { overflow: hidden; margin-top: 30px; border-top: 6px solid rgb(60,60,60); border-color: rgba(204, 204, 204, 0.25); }
		#about .addresses div { width: 320px; float: left; }
		#about .addresses div h3 { margin-bottom: 10px }
	#about .people { overflow: hidden; width: 100% }
		#about .people img { display: block; }
		#about .people p { float: left; width: 160px }

#projects { width: 270px; margin: 0 40px 0 0; }
	#projects img { display: block; margin-bottom: 10px; width: 100% }
	#projects h4 { font-weight: 300; font-size: 19px; line-height: 20px; margin-bottom: 4px; }
	#projects p { margin: 5px 0 25px 0; }

#tweets { width: 270px; margin: 0; }
	#tweets p { padding-left: 60px; position: relative; margin: 20px 0 0 0; }
		#tweets p img { position: absolute; left: 0; top: 0; }
		#tweets p a { font-weight: 600; } 
		#tweets p .byline { font-size: 11px; display: block; margin-bottom: 4px; } 
		#tweets p .byline a { font-weight: 600; font-size: 14px; color: #ccc; } 
		#tweets p .date { background: url(images/bird_16_gray.png) center left no-repeat; padding-left: 22px; font-size: 11px; display: block; margin-top: 4px; } 
